/out/
/M-03.iml
/.idea/
/Multiplicacio/out/production/ThreadsAndThings/AlumnesCallable/Alumne.class
/Multiplicacio/out/production/ThreadsAndThings/Supermercat/Caixa.class
/Multiplicacio/out/production/ThreadsAndThings/CargolsScheduler/Cargol.class
/Multiplicacio/out/production/ThreadsAndThings/Supermercat/Client.class
/Multiplicacio/out/production/ThreadsAndThings/CargolsScheduler/CursaCargols.class
/Multiplicacio/out/production/ThreadsAndThings/PaletaRunnable/FerParet.class
/Multiplicacio/out/production/ThreadsAndThings/CargolsScheduler/MonitorCargols.class
/Multiplicacio/out/production/ThreadsAndThings/Multiplicacio/MultiplicacioNoThreads.class
/Multiplicacio/out/production/ThreadsAndThings/Multiplicacio/MultiplicaNoCallablesMain.class
/Multiplicacio/out/production/ThreadsAndThings/AlumnesCallable/Notes.class
/Multiplicacio/out/production/ThreadsAndThings/PaletaRunnable/Paleta.class
/Multiplicacio/out/production/ThreadsAndThings/Supermercat/Supermercat.class
/Multiplicacio/ThreadsAndThings.iml
/Multiplicacio/.idea/.gitignore
